
# Routing
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# Cache control
<FilesMatch "\.(ico|png|jpg|jpeg)$">
  # 30 days
	Header Set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js|svg|ttf)$">
  # 365 days
  Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Deflate Compression
<IfModule mod_deflate.c>
 <FilesMatch "\.(js|jpg|jpeg|gif|png|css|ttf)$">
  ExpiresActive on
  ExpiresDefault "access plus 1 month"
  SetOutputFilter DEFLATE
 </FilesMatch>
</IfModule>

# Prevent hotlinking
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?peter-stuhlmann-fotografie.de [NC]
RewriteCond %{HTTP_REFERER} !google\. [NC]
RewriteCond %{HTTP_REFERER} !yahoo\. [NC]
RewriteCond %{HTTP_REFERER} !bing\. [NC] 
RewriteCond %{HTTP_REFERER} !fbcdn\. [NC] 
RewriteCond %{HTTP_REFERER} !facebook\. [NC] 
RewriteCond %{HTTP_REFERER} !pinterest\. [NC] 
RewriteCond %{HTTP_REFERER} !twimg\. [NC] 
RewriteRule \.(jpg|jpeg|png|gif)$ https://image-placeholder.now.sh/?text=peter-stuhlmann-fotografie.de [NC,R,L]